<div class="navbar-collapse border border-3 border-dark mr-3 mb-3"style="min-height: 300px;">
 <ul class="navbar-nav nav-stacked">
   <li class="nav-item border-bottom border-dark text-center" style="width: 100%;">ジャンル検索</li>
   <% genres.each do |genre| %>
     <li class="nav-item my-2 ml-4"><%= link_to genre.name, public_genre_search_path(genre.id) %></li>
   <% end %>
 </ul>
</div>
