<!--<div class="row">-->
  <div class="navbar-collapse border border-3 border-dark mr-4 mt-2 "style="height: 400px;">
   <ul class="navbar-nav nav-stacked">
     <li class="nav-item border-bottom border-dark text-center" style="width: 100%;">ジャンル検索</li>
     <% genres.each do |genre| %>
       <li class="nav-item my-2 ml-4"><%= genre.name %></li>
     <% end %>
   </ul>
  </div>
<!--</div>-->